{% extends 'common/base.html' %}

{% load static %}

{% block title %} Darslar Ro'yhati {% endblock %}

{% block extra_css %}

{% endblock %}


{% block breadcrumb_icon %}
    <i class="material-icons-outlined text-primary">menu_book</i>
{% endblock %}

{% block breadcrumb_title %} Darslar Ro'yhati <br>{{ group_name }} {% endblock %}


{% block subcontent %}

    <div class="row">

      <div class="col-xl-12">

        <div class="card shadow-sm border-0 rounded-3">

          <div class="card-body">

            <div class="table-responsive">
              <h5>Keyingi Darsim 📌</h5>
              <hr>

              {% if next_lesson %}
                  <table class="table table-hover align-middle mb-0">

                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Fan</th>
                        <th scope="col">Vaqti</th>
                        <th scope="col">Sanasi</th>
                      </tr>
                    </thead>

                    <tbody>

                        <tr>
                          <td><a href="{% url 'lesson_detail' next_lesson.id %}">{{ next_lesson.group.lesson_name }}</a></td>
                          <td>{{ next_lesson.start_time }} - {{ next_lesson.end_time }}</td>
                          <td class="fw-semibold">{{ next_lesson.lesson_date }}</td>
                        </tr>

                    </tbody>

                  </table>
              {% else %}

                <p>Keyingi dars mavjud emas, ma'lumot uchun o'qituvchingizga murojaat qiling!</p>

              {% endif %}

            </div>

          </div>

        </div>

      </div>

    </div>


    <div class="row">

      <div class="col-xl-12">

        <div class="card shadow-sm border-0 rounded-3">

          <div class="card-body">

            <div class="table-responsive">
              <h5>O'tgan Darslarim</h5>
              <hr>

              {% if page_obj %}

                  <table class="table table-hover align-middle mb-0">

                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Fan</th>
                        <th scope="col">Vaqti</th>
                        <th scope="col">Sanasi</th>
                      </tr>
                    </thead>

                    <tbody>

                      {% for lesson in page_obj %}

                            <tr>
                              <td><a href="{% url 'lesson_detail' lesson.id %}">{{ lesson.group.lesson_name }}</a></td>
                              <td>{{ lesson.start_time }} - {{ lesson.end_time }}</td>
                              <td class="fw-semibold">{{ lesson.lesson_date }}</td>
                            </tr>

                      {% endfor %}

                    </tbody>

                  </table>

                  {% if group_lessons|length > page_obj|length %}

                      <nav aria-label="Page navigation example" style="padding-top: 20px">

                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                            {% else %}

                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>

                            {% endif %}


                            {% for num in page_obj.paginator.page_range %}
                                {% if num == page_obj.number %}
                                    <li class="page-item active">
                                        <a class="page-link">{{ num }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                      </nav>
                  {% endif %}
              {% else %}

                  <p>O'tgan darslar mavjud emas!</p>

              {% endif %}


            </div>

          </div>

        </div>

      </div>

    </div>

{% endblock %}


{% block extra_js %}

{% endblock %}
