<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!--favicon-->
    <link rel="icon" href="{% static 'images/favicon-32x32.png' %}" type="image/png">
    <!-- loader-->
    <link href="{% static 'css/pace.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/pace.min.js' %}"></script>

    <!--plugins-->
    <link href="{% static 'plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/metismenu/metisMenu.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/metismenu/mm-vertical.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/simplebar/css/simplebar.css' %}">
    <!--  base css  -->
    <!--bootstrap css-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
    <!--main css-->
    <link href="{% static 'css/bootstrap-extended.css' %}" rel="stylesheet">
    <link href="{% static 'sass/main.css' %}" rel="stylesheet">
    <link href="{% static 'sass/dark-theme.css' %}" rel="stylesheet">
    <link href="{% static 'sass/blue-theme.css' %}" rel="stylesheet">
    <link href="{% static 'sass/semi-dark.css' %}" rel="stylesheet">
    <link href="{% static 'sass/bordered-theme.css' %}" rel="stylesheet">
    <link href="{% static 'sass/responsive.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/extra-icons.css' %}">

    {% block extra_css %}
        <!-- Add your custom CSS here -->
        <!-- Add your custom CSS here -->
        <link href="{% static 'css/common/base.css' %}" rel="stylesheet">
    {% endblock %}

</head>

<body class="main-body">

<!--start header-->
<header class="top-header">
    <nav class="navbar navbar-expand align-items-center gap-4">
        <div class="btn-toggle">
            <a href="javascript:;"><i class="material-icons-outlined">menu</i></a>
        </div>
        <div class="search-bar flex-grow-1">
            <div class="position-relative">
                <span class="material-icons-outlined position-absolute me-3 translate-middle-y end-0 top-50 search-close">close</span>
                <div class="search-popup p-3">
                    <div class="card rounded-4 overflow-hidden">
                        <div class="card-body search-content">
                            <p class="search-title">Recent Searches</p>
                            <div class="d-flex align-items-start flex-wrap gap-2 kewords-wrapper">
                                <a href="javascript:;" class="kewords"><span>Angular Template</span><i
                                        class="material-icons-outlined fs-6">search</i></a>
                                <a href="javascript:;" class="kewords"><span>Dashboard</span><i
                                        class="material-icons-outlined fs-6">search</i></a>
                                <a href="javascript:;" class="kewords"><span>Admin Template</span><i
                                        class="material-icons-outlined fs-6">search</i></a>
                                <a href="javascript:;" class="kewords"><span>Bootstrap 5 Admin</span><i
                                        class="material-icons-outlined fs-6">search</i></a>
                                <a href="javascript:;" class="kewords"><span>Html eCommerce</span><i
                                        class="material-icons-outlined fs-6">search</i></a>
                                <a href="javascript:;" class="kewords"><span>Sass</span><i
                                        class="material-icons-outlined fs-6">search</i></a>
                                <a href="javascript:;" class="kewords"><span>laravel 9</span><i
                                        class="material-icons-outlined fs-6">search</i></a>
                            </div>
                            <hr>
                            <p class="search-title">Tutorials</p>
                            <div class="search-list d-flex flex-column gap-2">
                                <div class="search-list-item d-flex align-items-center gap-3">
                                    <div class="list-icon">
                                        <i class="material-icons-outlined fs-5">play_circle</i>
                                    </div>
                                    <div class="">
                                        <h5 class="mb-0 search-list-title ">Wordpress Tutorials</h5>
                                    </div>
                                </div>
                                <div class="search-list-item d-flex align-items-center gap-3">
                                    <div class="list-icon">
                                        <i class="material-icons-outlined fs-5">shopping_basket</i>
                                    </div>
                                    <div class="">
                                        <h5 class="mb-0 search-list-title">eCommerce Website Tutorials</h5>
                                    </div>
                                </div>

                                <div class="search-list-item d-flex align-items-center gap-3">
                                    <div class="list-icon">
                                        <i class="material-icons-outlined fs-5">laptop</i>
                                    </div>
                                    <div class="">
                                        <h5 class="mb-0 search-list-title">Responsive Design</h5>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <p class="search-title">Members</p>

                            <div class="search-list d-flex flex-column gap-2">
                                <div class="search-list-item d-flex align-items-center gap-3">
                                    <div class="memmber-img">
                                        <img src="https://placehold.co/110x110/png" width="32" height="32"
                                             class="rounded-circle" alt="">
                                    </div>
                                    <div class="">
                                        <h5 class="mb-0 search-list-title ">Andrew Stark</h5>
                                    </div>
                                </div>

                                <div class="search-list-item d-flex align-items-center gap-3">
                                    <div class="memmber-img">
                                        <img src="https://placehold.co/110x110/png" width="32" height="32"
                                             class="rounded-circle" alt="">
                                    </div>
                                    <div class="">
                                        <h5 class="mb-0 search-list-title ">Snetro Jhonia</h5>
                                    </div>
                                </div>

                                <div class="search-list-item d-flex align-items-center gap-3">
                                    <div class="memmber-img">
                                        <img src="https://placehold.co/110x110/png" width="32" height="32"
                                             class="rounded-circle" alt="">
                                    </div>
                                    <div class="">
                                        <h5 class="mb-0 search-list-title">Michle Clark</h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer text-center bg-transparent">
                            <a href="javascript:;" class="btn w-100">See All Search Results</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="navbar-nav gap-1 nav-right-links align-items-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;"
                   data-bs-toggle="dropdown"><img src="{% static 'images/county/02.png' %}" width="22" alt="">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                            src="{% static 'images/county/01.png' %}" width="20" alt=""><span
                            class="ms-2">English</span></a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                            src="{% static 'images/county/02.png' %}" width="20" alt=""><span
                            class="ms-2">Catalan</span></a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                            src="{% static 'images/county/03.png' %}" width="20" alt=""><span class="ms-2">French</span></a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                            src="{% static 'images/county/04.png' %}" width="20" alt=""><span class="ms-2">Belize</span></a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                            src="{% static 'images/county/05.png' %}" width="20" alt=""><span
                            class="ms-2">Colombia</span></a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                            src="{% static 'images/county/06.png' %}" width="20" alt=""><span
                            class="ms-2">Spanish</span></a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                            src="{% static 'images/county/07.png' %}" width="20" alt=""><span
                            class="ms-2">Georgian</span></a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center py-2" href="javascript:;"><img
                            src="{% static 'images/county/08.png' %}" width="20" alt=""><span class="ms-2">Hindi</span></a>
                    </li>
                </ul>
            </li>
            {% if USER.role == "student" %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:;" data-bs-toggle="modal" data-bs-target="#studentQRModal">
                        <i class="material-icons-outlined">qr_code_2</i>
                    </a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link position-relative d-flex align-items-center gap-2"
                   data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" href="javascript:;">
                    <i class="material-icons-outlined">brightness_6</i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative"
                   data-bs-auto-close="outside"
                   data-bs-toggle="dropdown" href="javascript:;"><i class="material-icons-outlined">notifications</i>

                    {% if user_notifications|length != 0 and user_notification_enabled %}

                        <span class="badge-notify">

                            {{ user_notifications|length }}

                        </span>

                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-notify dropdown-menu-end shadow">
                    <div class="px-3 py-1 d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="notiy-title mb-0">Bildirishnomalar</h5>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret option"
                                    type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                  <span class="material-icons-outlined">
                                    more_vert
                                  </span>
                            </button>

                            <div class="dropdown-menu dropdown-option dropdown-menu-end shadow">
                                <form action="{% url 'notifications_form_actions' %}" method="post" style="margin: 0;">
                                    {% csrf_token %}

                                    {% if user_notifications|length != 0 %}
                                        <button
                                                type="submit" name="action" value="archive-all-notifications"
                                                class="dropdown-item d-flex align-items-center gap-2 py-2"
                                                style="border: none; background: none; width: 100%; text-align: left;">
                                            <i class="material-icons-outlined fs-6">inventory_2</i>
                                            Barchasini arxivga
                                        </button>

                                        <button
                                                type="submit" name="action" value="mark-as-read-all-notifications"
                                                class="dropdown-item d-flex align-items-center gap-2 py-2"
                                                style="border: none; background: none; width: 100%; text-align: left;">
                                            <i class="material-icons-outlined fs-6">done_all</i>
                                            Barchasi o'qildi
                                        </button>
                                    {% endif %}

                                    {% if user_notification_enabled %}
                                        <button
                                                type="submit" name="action" value="turn-off-user-notification"
                                                class="dropdown-item d-flex align-items-center gap-2 py-2"
                                                style="border: none; background: none; width: 100%; text-align: left;">
                                            <i class="material-icons-outlined fs-6">mic_off</i>
                                            Bildirishnomani o'chirish
                                        </button>
                                    {% else %}
                                        <button
                                                type="submit" name="action" value="turn-on-user-notification"
                                                class="dropdown-item d-flex align-items-center gap-2 py-2"
                                                style="border: none; background: none; width: 100%; text-align: left;">
                                            <i class="material-icons-outlined fs-6">mic_off</i>
                                            Bildirishnomani yoqish
                                        </button>
                                    {% endif %}
                                    <a
                                            href="/"
                                            class="dropdown-item d-flex align-items-center gap-2 py-2"
                                            style="border: none; background: none; width: 100%; text-align: left;">
                                        <i class="material-icons-outlined fs-6">grade</i>
                                        Yangiliklar
                                    </a>
                                    <div>
                                        <hr class="dropdown-divider">
                                    </div>
                                    <a
                                            href="/"
                                            class="dropdown-item d-flex align-items-center gap-2 py-2"
                                            style="border: none; background: none; width: 100%; text-align: left;">
                                        <i class="material-icons-outlined fs-6">leaderboard</i>
                                        Hisobotlar
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="notify-list">

                        {% for user_notification in user_notifications %}

                            <div>
                                <a class="dropdown-item border-bottom py-2" href="/">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="">
                                            <img src="https://placehold.co/110x110/png" class="rounded-circle"
                                                 width="45"
                                                 height="45" alt="">
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">{{ user_notification.notification.title }}</h5>
                                            <p class="mb-0 notify-desc">{{ user_notification.notification.message }}</p>
                                            <p class="mb-0 notify-time">{{ user_notification.notification.created_at }}</p>
                                        </div>
                                        <div class="ms-auto notification-archive-div">
                                            <form action="{% url 'archive_notification' user_notification.id %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <button class="notify-close">
                                                    <i class="material-icons-outlined fs-6">close</i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="javascrpt:;" class="dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                    <img src="https://placehold.co/110x110/png" class="rounded-circle p-1 border" width="45" height="45"
                         alt="">
                </a>
                <div class="dropdown-menu dropdown-user dropdown-menu-end shadow">
                    <a class="dropdown-item  gap-2 py-2" href="javascript:;">
                        <div class="text-center">
                            <img src="https://placehold.co/110x110/png" class="rounded-circle p-1 shadow mb-3"
                                 width="90" height="90"
                                 alt="">
                            <h5 class="user-name mb-0 fw-bold">
                                {% if user.first_name and user.last_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% elif user.first_name %}
                                    {{ user.first_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}

                            </h5>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2"
                       href="{% url 'edit_auth_user_profile' %}"><i
                            class="material-icons-outlined">person_outline</i>Profil</a>
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;"><i
                            class="material-icons-outlined">local_bar</i>Sozlamalar</a>
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;"><i
                            class="material-icons-outlined">dashboard</i>Boshqaruv Paneli</a>
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;"><i
                            class="material-icons-outlined">account_balance</i>Earning</a>
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;"><i
                            class="material-icons-outlined">cloud_download</i>Downloads</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;"
                       data-bs-toggle="modal" data-bs-target="#logoutModal">
                        <i class="material-icons-outlined">power_settings_new</i>Chiqish
                    </a>
                </div>
            </li>
        </ul>

    </nav>
</header>
<!--end top header-->

<!--Logout confirmation-->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 py-2">
                <h5 class="modal-title">Chiqishni Tasdiqlash</h5>
                <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="modal">
                    <i class="material-icons-outlined">close</i>
                </a>
            </div>
            <div class="modal-body">
                Siz akkauntingizdan chiqmoqchisiz, tasdiqlaysizmi?
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-grd-secondary" data-bs-dismiss="modal">Orqaga</button>
                <a href="{% url 'logout' %}" class="btn btn-grd-danger">Tasdiqlayman</a>
            </div>
        </div>
    </div>
</div>

<!--start sidebar-->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="logo-icon">
            <img src="{% static 'images/logo-icon.png' %}" class="logo-img" alt="">
        </div>
        <div class="logo-name flex-grow-1">
            <h5 class="mb-0">{{ PROJECT_NAME }}</h5>
        </div>
        <div class="sidebar-close">
            <span class="material-icons-outlined">close</span>
        </div>
    </div>
    <div class="sidebar-nav">
        <!--navigation-->
        {% if USER.role == 'student' %}
            <ul class="metismenu" id="sidenav">
                <li>
                    <a href="/">
                        <div class="parent-icon"><i class="material-icons-outlined">school</i></div>
                        <div class="menu-title">O'quvchi Paneli</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'timetable' %}">
                        <div class="parent-icon"><i class="material-icons-outlined">schedule</i></div>
                        <div class="menu-title">Dars Jadvali</div>
                    </a>
                </li>
                <li>
                    <a class="has-arrow">
                        <div class="parent-icon"><i class="material-icons-outlined">how_to_reg</i></div>
                        <div class="menu-title">Davomat</div>
                    </a>
                    <ul>
                        {% for user_group in USER.user_groups.all %}
                          <li>
                              <a href="{% url 'group_attendance' user_group.group.name %}">
                                  {{ user_group.group.name }}
                              </a>
                          </li>
                        {% endfor %}
                    </ul>
                </li>
                <li id="lessons-menu">
                    <a class="has-arrow">
                        <div class="parent-icon"><i class="material-icons-outlined">school</i></div>
                        <div class="menu-title">Darslarim</div>
                    </a>
                    <ul>
                        {% for user_group in USER.user_groups.all %}
                          <li>
                              <a href="{% url 'lessons' user_group.group.name %}">
                                  {{ user_group.group.name }}
                              </a>
                          </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#studentQRModal">
                        <div class="parent-icon"><i class="material-icons-outlined">qr_code_2</i></div>
                        <div class="menu-title">Mening QR Kodim</div>
                    </a>
                </li>
            </ul>

        {% elif USER.role == 'teacher' %}
            <ul class="metismenu" id="sidenav">
                <li>
                    <a href="{% url 'teacher_timetable' %}">
                        <div class="parent-icon"><i class="material-icons-outlined">schedule</i></div>
                        <div class="menu-title">Dars jadvali</div>
                    </a>

                </li>
                <li>
                    <a class="has-arrow">
                        <div class="parent-icon"><i class="material-icons-outlined">groups</i></div>
                        <div class="menu-title">Guruhlarim</div>
                    </a>
                    <ul>
                        {% for teacher_group in USER.teacher_groups.all %}
                          <li>
                              <a href="{% url 'group_detail' teacher_group.group.name %}">
                                  {{ teacher_group.group.name }}
                              </a>
                          </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a class="has-arrow">
                        <div class="parent-icon"><i class="material-icons-outlined">person</i></div>
                        <div class="menu-title">O'quvchilarim</div>
                    </a>
                    <ul>
                      <li><a href="{% url 'all_students' %}">Barcha o'quvchilarim</a></li>
                      <li>
                          <a class="has-arrow">Guruh o'quvchilarim</a>
                          <ul>
                              {% for teacher_group in USER.teacher_groups.all %}
                                  <li>
                                      <a href="{% url 'group_students' teacher_group.group.name %}">
                                          {{ teacher_group.group.name }}
                                      </a>
                                  </li>
                              {% endfor %}
                          </ul>
                      </li>
                    </ul>
                </li>
            </ul>

        {% elif USER.role == 'manager' %}
            <ul class="metismenu" id="sidenav">
                <li>
                    <a href="/">
                        <div class="parent-icon"><i class="material-icons-outlined">schedule</i></div>
                        <div class="menu-title">Dars jadvali</div>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <div class="parent-icon"><i class="material-icons-outlined">groups</i></div>
                        <div class="menu-title">Guruhlar</div>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <div class="parent-icon"><i class="material-icons-outlined">school</i></div>
                        <div class="menu-title">O'zlashtirish</div>
                    </a>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:;">
                        <div class="parent-icon"><i class="material-icons-outlined">fact_check</i></div>
                        <div class="menu-title">Davomat</div>
                    </a>
                    <ul>
                      <li>
                          <a href="{% url 'manager_all_groups' %}">
                              Guruhlar
                          </a>
                      </li>
                      <li><a href="#"><i class="material-icons-outlined">folder</i>Davomat hisoboti</a>
                      </li>
                    </ul>
                </li>
                <li>
                    <a href="/">
                        <div class="parent-icon"><i class="material-icons-outlined">admin_panel_settings</i></div>
                        <div class="menu-title">Xodimlar</div>
                    </a>
                </li>
            </ul>

        {% elif USER.role == 'parent' %}
            <ul class="metismenu" id="sidenav">
                <li>
                    <a href="/">
                        <div class="parent-icon"><i class="material-icons-outlined">schedule</i></div>
                        <div class="menu-title">Dars jadvali</div>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <div class="parent-icon"><i class="material-icons-outlined">school</i></div>
                        <div class="menu-title">O'zlashtirish</div>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <div class="parent-icon"><i class="material-icons-outlined">how_to_reg</i></div>
                        <div class="menu-title">Davomat</div>
                    </a>
                </li>
            </ul>
        {% endif %}

        <!--end navigation-->
    </div>
</aside>
<!--end sidebar-->

<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
        <div class="page-breadcrumb d-flex align-items-center mb-3">
            <div class="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0 d-flex align-items-center">
                        <li class="pe-2">
                            {% block breadcrumb_icon %}
                                <i class="bx bx-home-alt"></i>
                            {% endblock %}
                        </li>
                        <li class="breadcrumb-item active d-flex align-items-center" aria-current="page" style="font-size: clamp(0.9rem, 1.25vw, 3.5rem);">
                            {% block breadcrumb_title %} Home {% endblock %}
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Sozlamalar</button>
                    <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else here</a>
                        <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
                    </div>
                </div>
            </div>
        </div>
        {% block subcontent %}

        {% endblock %}
    </div>
</main>
<!--end main wrapper-->

<!--start overlay-->
<div class="overlay btn-toggle"></div>
<!--end overlay-->

<!--start footer-->
<!--<footer class="page-footer">-->
<!--    <p class="mb-0">Copyright © 2024. All right reserved.</p>-->
<!--</footer>-->
<!--end footer-->

<!--start cart-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart">
    <div class="offcanvas-header border-bottom h-70">
        <h5 class="mb-0" id="offcanvasRightLabel">8 New Orders</h5>
        <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
            <i class="material-icons-outlined">close</i>
        </a>
    </div>
    <div class="offcanvas-body p-0">
        <div class="order-list">
            <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                <div class="order-img">
                    <img src="https://placehold.co/200x150/png" class="img-fluid rounded-3" width="75" alt="">
                </div>
                <div class="order-info flex-grow-1">
                    <h5 class="mb-1 order-title">White Men Shoes</h5>
                    <p class="mb-0 order-price">$289</p>
                </div>
                <div class="d-flex">
                    <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                    <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                </div>
            </div>

            <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                <div class="order-img">
                    <img src="https://placehold.co/200x150/png" class="img-fluid rounded-3" width="75" alt="">
                </div>
                <div class="order-info flex-grow-1">
                    <h5 class="mb-1 order-title">Red Airpods</h5>
                    <p class="mb-0 order-price">$149</p>
                </div>
                <div class="d-flex">
                    <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                    <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                </div>
            </div>

            <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                <div class="order-img">
                    <img src="https://placehold.co/200x150/png" class="img-fluid rounded-3" width="75" alt="">
                </div>
                <div class="order-info flex-grow-1">
                    <h5 class="mb-1 order-title">Men Polo Tshirt</h5>
                    <p class="mb-0 order-price">$139</p>
                </div>
                <div class="d-flex">
                    <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                    <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                </div>
            </div>

            <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                <div class="order-img">
                    <img src="https://placehold.co/200x150/png" class="img-fluid rounded-3" width="75" alt="">
                </div>
                <div class="order-info flex-grow-1">
                    <h5 class="mb-1 order-title">Blue Jeans Casual</h5>
                    <p class="mb-0 order-price">$485</p>
                </div>
                <div class="d-flex">
                    <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                    <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                </div>
            </div>

            <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                <div class="order-img">
                    <img src="https://placehold.co/200x150/png" class="img-fluid rounded-3" width="75" alt="">
                </div>
                <div class="order-info flex-grow-1">
                    <h5 class="mb-1 order-title">Fancy Shirts</h5>
                    <p class="mb-0 order-price">$758</p>
                </div>
                <div class="d-flex">
                    <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                    <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                </div>
            </div>

            <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                <div class="order-img">
                    <img src="https://placehold.co/200x150/png" class="img-fluid rounded-3" width="75" alt="">
                </div>
                <div class="order-info flex-grow-1">
                    <h5 class="mb-1 order-title">Home Sofa Set </h5>
                    <p class="mb-0 order-price">$546</p>
                </div>
                <div class="d-flex">
                    <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                    <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                </div>
            </div>

            <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                <div class="order-img">
                    <img src="https://placehold.co/200x150/png" class="img-fluid rounded-3" width="75" alt="">
                </div>
                <div class="order-info flex-grow-1">
                    <h5 class="mb-1 order-title">Black iPhone</h5>
                    <p class="mb-0 order-price">$1049</p>
                </div>
                <div class="d-flex">
                    <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                    <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                </div>
            </div>

            <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                <div class="order-img">
                    <img src="https://placehold.co/200x150/png" class="img-fluid rounded-3" width="75" alt="">
                </div>
                <div class="order-info flex-grow-1">
                    <h5 class="mb-1 order-title">Goldan Watch</h5>
                    <p class="mb-0 order-price">$689</p>
                </div>
                <div class="d-flex">
                    <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                    <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer h-70 p-3 border-top">
        <div class="d-grid">
            <button type="button" class="btn btn-grd btn-grd-primary" data-bs-dismiss="offcanvas">View Products</button>
        </div>
    </div>
</div>
<!--end cart-->

{% if USER.role == "student" %}
    <!--start qr-->
    <div class="modal fade" id="studentQRModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3 text-center">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title">Sizning QR kodingiz</h5>

                    <button type="button" class="btn btn-outline-dark btn-circle rounded-circle d-flex gap-2 wh-48" data-bs-dismiss="modal">
                        <i class="material-icons-outlined">clear</i>
                    </button>

                </div>
                <div class="modal-body d-flex flex-column align-items-center">
                    <div id="student-qr"
                         class="d-inline-block bg-white p-3 rounded shadow-sm">
                    </div>
                    <p class="mt-2">{{ USER.qr_token }}<br>Bu QR kodni kirishda va chiqishda ko'rsating.</p>
                </div>
            </div>
        </div>
    </div>
    <!--end qr-->
{% endif %}





<!--start switcher-->

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="staticBackdrop">
    <div class="offcanvas-header border-bottom h-70">
        <div class="">
            <h5 class="mb-0">Theme Customizer</h5>
            <p class="mb-0">Customize your theme</p>
        </div>
        <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
            <i class="material-icons-outlined">close</i>
        </a>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Theme variation</p>

            <div class="row g-3">
                <div class="col-12 col-xl-6">
                    <input type="radio" class="btn-check" name="theme-options" id="BlueTheme" checked>
                    <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4"
                           for="BlueTheme">
                        <span class="material-icons-outlined">contactless</span>
                        <span>Blue</span>
                    </label>
                </div>
                <div class="col-12 col-xl-6">
                    <input type="radio" class="btn-check" name="theme-options" id="LightTheme">
                    <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4"
                           for="LightTheme">
                        <span class="material-icons-outlined">light_mode</span>
                        <span>Light</span>
                    </label>
                </div>
                <div class="col-12 col-xl-6">
                    <input type="radio" class="btn-check" name="theme-options" id="DarkTheme">
                    <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4"
                           for="DarkTheme">
                        <span class="material-icons-outlined">dark_mode</span>
                        <span>Dark</span>
                    </label>
                </div>
                <div class="col-12 col-xl-6">
                    <input type="radio" class="btn-check" name="theme-options" id="SemiDarkTheme">
                    <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4"
                           for="SemiDarkTheme">
                        <span class="material-icons-outlined">contrast</span>
                        <span>Semi Dark</span>
                    </label>
                </div>
                <div class="col-12 col-xl-6">
                    <input type="radio" class="btn-check" name="theme-options" id="BorderedTheme">
                    <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4"
                           for="BorderedTheme">
                        <span class="material-icons-outlined">border_style</span>
                        <span>Bordered</span>
                    </label>
                </div>
            </div><!--end row-->

        </div>
    </div>
</div>
<!--start switcher-->

<!--bootstrap js-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!--plugins-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!--plugins-->
<script src="{% static 'plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'plugins/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'plugins/simplebar/js/simplebar.min.js' %}"></script>
<script src="{% static 'plugins/peity/jquery.peity.min.js' %}"></script>
<script>
    $(".data-attributes span").peity("donut")
</script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/dashboard1.js' %}"></script>
<script>
    new PerfectScrollbar(".user-list")
</script>
{% if USER.role == "student" and USER.qr_token %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script>
        (function () {
            const modalEl = document.getElementById('studentQRModal');
            if (!modalEl) return;

            modalEl.addEventListener('shown.bs.modal', function () {
                const box = document.getElementById('student-qr');
                if (!box) return;

                box.innerHTML = '';

                new QRCode(box, {
                    text: "{{ USER.qr_token }}",
                    width: 290,
                    height: 290,
                    correctLevel: QRCode.CorrectLevel.M
                });
            });

            // optional: clear on hide
            modalEl.addEventListener('hidden.bs.modal', function () {
                const box = document.getElementById('student-qr');
                if (box) box.innerHTML = '';
            });
        })();
    </script>
{% endif %}

{% block extra_js %}
{% endblock %}

</body>

</html>